/* App.css */

body {
  background-color: #f0f0f0; /* Light gray background */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-direction: column; /* Change to column layout on smaller screens */
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds viewport height */
  padding: 20px; /* Add padding to the app container */
}

#note-container {
  width: 100%; /* Adjust the width of the note container */
  margin-top: 20px;
  padding: 20px; /* Add padding to the note container */
}


#add-edit-container {
  background-color: #fff; /* White background for the form container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Default width for smaller screens */
  max-width: 600px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center the container horizontally */
}

#add-edit-container textarea {
  resize: none; /* Disable resizing for the textarea */
}

.form-table {
  width: 100%;
}

.note-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-table th, .note-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.note-table th {
  background-color: #4CAF50; /* Green header background color */
  color: white;
}

.note-table td {
  background-color: #fff; /* White background for table cells */
}

/* Buttons */
.add-button, .edit-button, .delete-button, .archive-button, .unarchive-button, .remove-category-button {
  background-color: #4CAF50; /* Green button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px; /* Add margin bottom to buttons */
}

.add-button:hover, .edit-button:hover, .delete-button:hover, .archive-button:hover, .unarchive-button:hover, .remove-category-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Input and Textarea */
input[type="text"], textarea {
  width: calc(100% - 22px); /* Adjust width and subtract padding */
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Filter input */
#categoryFilter {
  padding: 8px;
  margin: 0;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  #note-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .note-table {
    font-size: 14px;
  }

  .add-button, .edit-button, .delete-button, .archive-button, .unarchive-button, .remove-category-button {
    width: 100%; /* Make buttons full width on smaller screens */
  }
}
